<div>

  <div class="example"
    style="border: 1px solid black">
    <p>
      Simple example taken from <a href="http://blog.thoughtram.io/angular/2015/04/09/developing-a-tabs-component-in-angular-2.html">here</a>
    </p>


    <app-tabs>
      <app-tab tabTitle="Tab 1">
        Content tab 1
      </app-tab>
      <app-tab tabTitle="Tab 2">
        Content tab 2
      </app-tab>
    </app-tabs>
  </div>

  <div class="example"
    style="border: 1px solid black">
    <p>
      Alternative example taken from <a href="https://juristr.com/blog/2016/02/learning-ng2-creating-tab-component/">here</a>.
      Basically there's no DI involves, the dependency is from parent to child, hence children know nothing about parent.
    </p>

    <app-alt-tabs>
      <app-alt-tab tabTitle="Alt Tab 1">
        Content tab 1
      </app-alt-tab>
      <app-alt-tab tabTitle="Alt Tab 2">
        Content tab 2
      </app-alt-tab>
    </app-alt-tabs>

  </div>

  <div class="example"
    style="border: 1px solid black">

    <p>
      Dinamically tab, example taken from <a href="https://juristr.com/blog/2017/07/ng2-dynamic-tab-component/">here</a>.
    </p>



    <app-dyn-tabs #tabsComp (addClicked)="addTab($event)">

    </app-dyn-tabs>

    <!-- Use let-data="data" to inject different data to new tab -->
    <!-- Bind data into the TabComponent with *ngTemplateOutletContext="{}" -->
    <ng-template #emptyTab>
        <p>
          This is a empty tab template from AppComponent pass to
          DynTabsComponentand successively project as content of DynTabComponent
          dynamically created.
        </p>
    </ng-template>

  </div>

</div>


